{% extends 'base.html' %}
{% block content %}
<h2>Lista de Anuncios</h2>
<a class="btn" href="{{ url_for('anuncios_create') }}">Novo(a)</a>
<table><thead><tr>
<th>id</th>
<th>titulo</th>
<th>descricao</th>
<th>preco</th>
<th>categoria_id</th>
<th>usuario_id</th>
<th>Ações</th></tr></thead><tbody>
{% for item in anuncios %}
<tr>
<td>{{ item.id }}</td>
<td>{{ item.titulo }}</td>
<td>{{ item.descricao }}</td>
<td>{{ item.preco }}</td>
<td>{{ item.categoria_id }}</td>
<td>{{ item.usuario_id }}</td>
<td><a href="{{ url_for('anuncios_edit', id=item.id) }}">Editar</a> | <a href="{{ url_for('anuncios_delete', id=item.id) }}">Excluir</a></td>
</tr>
{% endfor %}</tbody></table>
{% endblock %}