{% extends 'base.html' %}
{% block content %}
<h2>{{ perguntas and 'Editar' or 'Novo(a)' }} Pergunta</h2>
<form method="POST">
<label for="usuario_id">usuario_id:</label>
<select name="usuario_id" id="usuario_id">
{% for o in usuarios %}
<option value="{{ o.id }}" {% if perguntas and perguntas.usuario_id==o.id %}selected{% endif %}>{{ o.nome }}</option>
{% endfor %}
</select>
<label for="anuncio_id">anuncio_id:</label>
<select name="anuncio_id" id="anuncio_id">
{% for o in anuncios %}
<option value="{{ o.id }}" {% if perguntas and perguntas.anuncio_id==o.id %}selected{% endif %}>{{ o.titulo }}</option>
{% endfor %}
</select>
<label for="texto">texto:</label>
<textarea name="texto" id="texto">{{ perguntas.texto if perguntas else "" }}</textarea>
<label for="criado_em">criado_em:</label>
<input type="text" name="criado_em" id="criado_em" value="{{ pergunta.criado_em if pergunta else "" }}">
<button type="submit">Salvar</button>
</form>
{% endblock %}