{% extends 'base.html' %}
{% block content %}
<h2>{{ favoritos and 'Editar' or 'Novo(a)' }} Favorito</h2>
<form method="POST">
<label for="usuario_id">usuario_id:</label>
<select name="usuario_id" id="usuario_id">
{% for o in usuarios %}
<option value="{{ o.id }}" {% if favoritos and favoritos.usuario_id==o.id %}selected{% endif %}>{{ o.nome }}</option>
{% endfor %}
</select>
<label for="anuncio_id">anuncio_id:</label>
<select name="anuncio_id" id="anuncio_id">
{% for o in anuncios %}
<option value="{{ o.id }}" {% if favoritos and favoritos.anuncio_id==o.id %}selected{% endif %}>{{ o.titulo }}</option>
{% endfor %}
</select>
<label for="criado_em">criado_em:</label>
<input type="text" name="criado_em" id="criado_em" value="{{ favorito.criado_em if favorito else "" }}">
<button type="submit">Salvar</button>
</form>
{% endblock %}