{% extends 'base.html' %}
{% block content %}
<h2>Lista de Favoritos</h2>
<a class="btn" href="{{ url_for('favoritos_create') }}">Novo(a)</a>
<table><thead><tr>
<th>id</th>
<th>usuario_id</th>
<th>anuncio_id</th>
<th>criado_em</th>
<th>Ações</th></tr></thead><tbody>
{% for item in favoritos %}
<tr>
<td>{{ item.id }}</td>
<td>{{ item.usuario_id }}</td>
<td>{{ item.anuncio_id }}</td>
<td>{{ item.criado_em }}</td>
<td><a href="{{ url_for('favoritos_edit', id=item.id) }}">Editar</a> | <a href="{{ url_for('favoritos_delete', id=item.id) }}">Excluir</a></td>
</tr>
{% endfor %}</tbody></table>
{% endblock %}